{% extends "app/base_site.html" %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Form Design <small>different form elements</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
             
              
                <form class="form-horizontal form-label-left" action="/joiningsave/" method="POST">{% csrf_token %}
            {% for data in joining_detail %}
                  <input type="hidden" value="{{serial}}" name="serial">
                <span class="section">Joining Details</span>
                <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="joining">Joining</label>
                      <input type="date" class="form-control" name="joining" value="{{data.Joining}}">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="salary">Salary</label>
                      <input type="number" class="form-control" name="salary" value="{{data.Salary}}">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="stipend">Stipend</label>
                      <input type="number" class="form-control" name="stipend" value="{{data.Stippend}}">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="ctc">CTC</label>
                      <input type="number" class="form-control" name="ctc" value="{{data.CTC}}">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="medial_facility">Medical Facility</label>
                      <select class="form-control" name="medial_facility">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                      </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="ltc">LTC</label>
                      <input type="number" class="form-control" name="ltc" value="{{data.LTC}}">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputState">Type</label>
                      <select class="form-control" name="typevalue">
                        <option value="type1">Type1</option>
                        <option value="type2">Type2</option>
                        <option value="type3">Type3</option>
                      </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="ltc">Profile</label>
                      <input type="text" class="form-control" name="profile" value="{{data.Profile}}">
                    </div>
                  </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">

                      <label for="leave">Leave per Month</label>
                      <input type="number" class="form-control" name="leave" value="{{data.Leaves}}">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="working_days">Working Days per Week</label>
                      <input type="number" class="form-control" name="working_days" value="{{data.Working_Days}}">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="skill">Skills Recommended</label>
                      <input type="text" class="form-control" name="skill" value="{{data.Skills}}">
                    </div>
                    
                  </div>
                   
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button type="submit" class="btn btn-success">Update</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <button class="btn btn-primary" type="button">Cancel</button>
                  </div>
                </div>
              </form>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>




      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Bond Details</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
        <form class="form-horizontal form-label-left input_mask" method="POST" action="/bondsave/">
        {% csrf_token %}
        {% for data in bond_detail %}
        <input type="hidden" value="{{serial}}" name="serial">
                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <label for="leave">Bond Duration</label>
                  <input type="number" class="form-control has-feedback-left" placeholder="Bond Duration" value="{{data.Duration}}" name="bond">
                  <span class="fa fa-clock-o form-control-feedback left" aria-hidden="true"></span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <label for="leave">Amount</label>
                  <input type="number" class="form-control" placeholder="Amount" value="{{data.Amount}}" name="amount">
                  <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                  <label for="leave">Offer</label>
                  <input type="text" class="form-control has-feedback-left" placeholder="Offer" value="{{data.Offer}}" name="offer">
                  <span class="fa fa-line-chart form-control-feedback left" aria-hidden="true"></span>
                </div>
              </div>
                
                
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button type="submit" class="btn btn-success">Update</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="button" class="btn btn-primary">Cancel</button>
                  </div>
                </div>

              </form>
              {% endfor %}
            </div>
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Text areas<small>Sessions</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div id="alerts"></div>
            <div class="btn-toolbar editor" data-role="editor-toolbar" data-target="#editor-one">
              <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
                <ul class="dropdown-menu">
                </ul>
              </div>

              <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a data-edit="fontSize 5">
                      <p style="font-size:17px">Huge</p>
                    </a>
                  </li>
                  <li>
                    <a data-edit="fontSize 3">
                      <p style="font-size:14px">Normal</p>
                    </a>
                  </li>
                  <li>
                    <a data-edit="fontSize 1">
                      <p style="font-size:11px">Small</p>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="btn-group">
                <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
              </div>

              <div class="btn-group">
                <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
                <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
                <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
              </div>

              <div class="btn-group">
                <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
              </div>

              <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
                <div class="dropdown-menu input-append">
                  <input class="span2" placeholder="URL" type="text" data-edit="createLink" />
                  <button class="btn" type="button">Add</button>
                </div>
                <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-cut"></i></a>
              </div>

              <div class="btn-group">
                <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
              </div>

              <div class="btn-group">
                <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
              </div>
            </div>

            <div id="editor-one" class="editor-wrapper"></div>

            <textarea name="descr" >sample</textarea>

            <br />

            <div class="ln_solid"></div>

            
          </div>
        </div>
      </div>

        
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
