{% extends "app/base_site.html" %}

{% block title %} Form Validation {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>{{teamdetail}}</h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>{{teamdetail}}</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>


            <div class="x_content">
              <script>
                {% if success_msg %}
                alert('Team Added Successfully');
                {% endif %}
              </script>
              <form class="form-horizontal form-label-left" action="/teamdetailsave/" method="POST" enctype="multipart/form-data">{% csrf_token %}

                <span class="section">Joining Details</span>

               <!--  {{ form1.as_p }} 
                {{ form2.as_p }}
                {{ form3.as_p }}
              <button type="submit" class="btn btn-primary">Save</button>  -->


                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" name="name" required="">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="joining">Joining</label>
                      <input type="date" class="form-control" name="joining">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="salary">Salary</label>
                      <input type="number" class="form-control" name="salary">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="stipend">Stipend</label>
                      <input type="number" class="form-control" name="stipend">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="ctc">CTC</label>
                      <input type="number" class="form-control" name="ctc">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="medial_facility">Medical Facility</label>
                      <select class="form-control" name="medial_facility">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                      </select>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="ltc">LTC</label>
                      <input type="number" class="form-control" name="ltc">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputState">Type</label>
                      <select class="form-control" name="typevalue">
                        <option value="type1">Type1</option>
                        <option value="type2">Type2</option>
                        <option value="type3">Type3</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">

                      <label for="leave">Leave per Month</label>
                      <input type="number" class="form-control" name="leave">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="working_days">Working Days per Week</label>
                      <input type="number" class="form-control" name="working_days">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="skill">Skills Recommended</label>
                      <input type="text" class="form-control" name="skill">
                    </div>
                    
                  </div>
                  
                </div>
                <h3>Social Links</h3>
                  <div class="form-row">

                    <div class="form-group col-md-3">
                      <label for="instagram">Instagram ID</label>
                      <input type="text" class="form-control" name="instagram">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="twitter">Twitter</label>
                      <input type="twitter" class="form-control" name="twitter">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="telegram">Telegram</label>
                      <input type="text" class="form-control" name="telegram">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="hike">Hike</label>
                      <input type="text" class="form-control" name="hike">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="linkedin">LinkedIn</label>
                      <input type="text" class="form-control" name="linkedin">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="skype">Skype</label>
                      <input type="text" class="form-control" name="skype">
                    </div>
                  <div class="form-group col-md-3">
                      <label for="slack">Slack</label>
                      <input type="text" class="form-control" name="slack">
                    </div>
                  <div class="form-group col-md-3">
                      <label for="facebook">Facebook</label>
                      <input type="text" class="form-control" name="facebook">
                    </div>
                  </div>

                  <div class="form-row">
                    <h3>Bond Details</h3>
                    <div class="form-group col-md-3">
                      <label for="duration">Duration</label>
                      <input type="number" class="form-control" name="duration" placeholder="In Months">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="amount">Amount</label>
                      <input type="number" class="form-control" name="amount">
                    </div>
                  <div class="form-group col-md-3">
                      <label for="offer">Offer</label>
                      <input type="text" class="form-control" name="offer">
                    </div>
                  
                  </div>
 
                  <div class="form-row">
                    
                <button type="submit" class="btn btn-primary">Save</button>
                  </form>
                </div>
                
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- validator -->
  <script src="/static/vendors/validator/validator.js"></script>
{% endblock javascripts %}
