{% extends "app/base_site.html" %}

{% block title %} Media Gallery {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}

  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3> Media Gallery</h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Form Design <small>different form elements</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content col-md-6">
              <br />
    {% for data in docs %}
      <form class="form-horizontal form-label-left" action="/docssave/" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <input type="hidden" value="{{serial}}" name="serial">
              <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="team_pan">PAN No.</label>
                      <input type="text" class="form-control" name="team_pan" value="{{data.Team_Pan}}">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="team_panphoto">PAN Photo</label>
                      <input type="file" class="form-control" name="team_panphoto" value="{{data.Team_Pan_Photo}}">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="team_voterid">Voter ID Card No.</label>
                      <input type="text" class="form-control" name="team_voterid" value="{{data.Team_Voter_Id}}">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="team_voteridphoto">Voter ID Card Photo</label>
                      <input type="file" class="form-control" name="team_voteridphoto" value="{{Team_Voter_Id_Photo.url">
                    </div>
                  </div>
<h4>Bank Account Details</h4>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="team_account">Account No.</label>
                      <input type="text" class="form-control" name="team_account" value="{{data.Team_Account}}">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="team_ifsc">IFSC Code</label>
                      <input type="text" class="form-control" name="team_ifsc" value="{{data.Team_Ifsc}}">
                    </div>
                  <div class="form-group col-md-3">
                      <label for="team_accountname">Account Name</label>
                      <input type="text" class="form-control" name="team_accountname" value="{{data.Team_Account_Name}}">
                    </div>
                  <div class="form-group col-md-3">
                      <label for="team_cid">C.I.D.</label>
                      <input type="text" class="form-control" name="team_cid" value="{{data.Team_cid}}">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="team_doc1">Qualification Ducument 1</label>
                      <input type="file" class="form-control" name="team_doc1">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="team_doc2">Qualification Ducument 2</label>
                      <input type="file" class="form-control" name="team_doc2">
                    </div>
                  <div class="form-group col-md-3">
                      <label for="team_doc3">Qualification Ducument 4</label>
                      <input type="file" class="form-control" name="team_doc3">
                    </div>
                  <div class="form-group col-md-3">
                      <label for="team_doc4">Qualification Ducument 4</label>
                      <input type="file" class="form-control" name="team_doc4">
                    </div>
                  </div>
 
                  <div class="form-row">
                    
                  <button type="submit" class="btn btn-primary mt-5">Save</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Media Gallery <small> gallery design </small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <div class="row">

                <p>Media gallery design emelents</p>
                {% if data.Team_Pan_Photo %}
                <div class="col-md-55">
                  <div class="thumbnail">
                    <div class="image view view-first">
                      <a href="{{data.Team_Pan_Photo.url}}">
                      <img style="width: 100%; display: block;" src="{{data.Team_Pan_Photo.url}}" alt="image" />
                      </a>
                      <div class="mask">
                        <p>{{data.Team_Pan}}</p>
                      </div>
                    </div>
                    <div class="caption">
                      <p>PAN No. {{data.Team_Pan}}</p>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if data.Team_Voter_Id_Photo %}
                <div class="col-md-55">
                  <div class="thumbnail">
                    <div class="image view view-first">
                      <a href="{{data.Team_Voter_Id_Photo.url}}">
                      <img style="width: 100%; display: block;" src="{{data.Team_Voter_Id_Photo.url}}" alt="image" />
                    </a>
                      <div class="mask">
                        <p>{{data.Team_Voter_Id}}</p>
                      </div>
                    </div>
                    <div class="caption">
                      <p>Voter Id No. - {{data.Team_Voter_Id}}</p>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% if data.Team_Doc1 %}
                <div class="col-md-55">
                  <div class="thumbnail">
                    <div class="image view view-first">
                      <a href="{{data.Team_Doc1.url}}">
                      <img style="width: 100%; display: block;" src="{{data.Team_Doc1.url}}" alt="image" />
                      </a>
                      <div class="mask">
                        <p>Document 1</p>
                        
                      </div>
                    </div>
                    <div class="caption">
                      <p>Qualification Document 1</p>
                    </div>
                  </div>
                </div>
                {% endif %}
                <div class="col-md-55">
                  <div class="thumbnail">
                    <div class="image view view-first">
                      <a href="{{data.Team_Doc2.url}}">
                      <img style="width: 100%; display: block;" src="{{data.Team_Doc2.url}}" alt="image" />
                      </a>
                      <div class="mask">
                        <p>Document 2</p>
                        
                      </div>
                    </div>
                    <div class="caption">
                      <p>Qualification Document 2</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-55">
                  <div class="thumbnail">
                    <div class="image view view-first">
                      <a href="{{data.Team_Doc3.url}}">
                      <img style="width: 100%; display: block;" src="{{data.Team_Doc3.url}}" alt="image" />
                      </a>
                      <div class="mask">
                        <p>Document 3</p>
                        
                      </div>
                    </div>
                    <div class="caption">
                      <p>Qualification Document 3</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-55">
                  <div class="thumbnail">
                    <div class="image view view-first">
                      <a href="{{data.Team_Doc4.url}}">
                      <img style="width: 100%; display: block;" src="{{data.Team_Doc4.url}}" alt="image" />
                      </a>
                      <div class="mask">
                        <p>Document 4</p>
                        
                      </div>
                    </div>
                    <div class="caption">
                      <p>Qualification Document 4</p>
                    </div>
                  </div>
                </div>
                {% endfor %}
                

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}