{% extends "app/base_site.html" %}

{% block title %} Login {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <!-- Animate.css -->
  <link href="/static/vendors/animate.css/animate.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
  <script>
    {% if flag %}
    alert("Invalid Username or Password");
    {% endif %}
    {{flag}}
  </script>
  <div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <h2>{{error_message}}</h2>
          <br>
          <form action="/login/" method="POST">{% csrf_token %}
            <h1>Login Form</h1>
            <div>
              <input type="text" class="form-control" placeholder="Username" name="username" required="" />
            </div>
            <div>
              <input type="password" class="form-control" placeholder="Password" name="password" required="" />
            </div>
            <div>
              <button type="submit" class="btn btn-default submit">Log In</button>
              <a class="reset_pass" href="#">Lost your password?</a>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
              <p class="change_link">New to site?
                <a href="#signup" class="to_register"> Create Account </a>
              </p>

              <div class="clearfix"></div>
              <br />

              <div>
                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
              </div>
            </div>
          </form>
        </section>
      </div>

      <div id="register" class="animate form registration_form">
        <section class="login_content">
          <form action="/register/" method="POST">{% csrf_token %}
            <h1>Create Account</h1>
            <div>
              <input type="text" class="form-control" placeholder="First Name" name="first_name" required="" />
            </div>
            <div>
              <input type="text" class="form-control" placeholder="Middle Name" name="middle_name" />
            </div>
            <div>
              <input type="text" class="form-control" placeholder="Last Name" name="last_name" required="" />
            </div>
            <div>
              <input type="email" class="form-control" placeholder="E-mail" name="email_address" required="" />
            </div>
            <div>
              <input type="text" class="form-control" placeholder="Username" name="user_name" required="" />
            </div>
            <div>
              <input type="password" class="form-control" placeholder="Password" name="user_password" required="" />
            </div>
            <div>
              <select class="form-control" name="account_type" required="" />
                <option value="select">Select Account Type</option>
                <option value="0">Admin</option>
                <option value="1">Employee</option>
                <option value="2">For User</option>
              </select>
            </div>
            <div>
              <button type="submit" class="btn btn-default submit">Submit</button>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
              <p class="change_link">Already a member ?
                <a href="#signin" class="to_register"> Log in </a>
              </p>

              <div class="clearfix"></div>
              <br />

              <div>
                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
{% endblock body %}

