{% extends "app/base_site.html" %}

{% block title %} Form Validation {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>{{teamdetail}}</h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>{{teamdetail}}</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>


            <div class="x_content">

              <form class="form-horizontal form-label-left" method="POST" enctype="multipart/form-data">{% csrf_token %}

                <span class="section">Team Info</span>

                {{ form1.as_p }} 
                {{ form2.as_p }}
                {{ form3.as_p }}
              <button type="submit" class="btn btn-primary">Save</button>
<!-- 
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="team_name">Team Name</label>
                      <input type="text" class="form-control" name="team_name" required="">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="team_email">Email</label>
                      <input type="email" class="form-control" name="team_email">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="team_mobile">Mobile No.</label>
                      <input type="text" class="form-control" name="team_mobile">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="team_status">Status</label>
                      <input type="text" class="form-control" name="team_status">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="fathername">Father's Name</label>
                      <input type="text" class="form-control" name="fathername">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="dob">D.O.B.</label>
                      <input type="text" class="form-control" name="dob">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="alternatecontact">Alternate Contact No.</label>
                      <input type="text" class="form-control" name="alternatecontact">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputState">Type</label>
                      <select class="form-control" name="typevalue">
                        <option value="type1">Type1</option>
                        <option value="type2">Type2</option>
                        <option value="type3">Type3</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">

                      <label for="referencename1">Reference Name 1</label>
                      <input type="text" class="form-control" name="referencename1">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="referencenumber1">Reference Contact 1</label>
                      <input type="text" class="form-control" name="referencenumber1">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="referencename2">Reference Name 2</label>
                      <input type="text" class="form-control" name="referencename2">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="referencenumber2">Reference Contact 2</label>
                      <input type="text" class="form-control" name="referencenumber2">
                    </div>
                  </div>
                  <div class="form-row">
                  
                    <label for="currentaddress">Current Address</label>
                    <textarea name="currentaddress" rows="5" cols="50"></textarea>
                    
                 
                  
                    <label for="permanentaddress">Permanent Address</label>
                    <textarea name="permanentaddress" rows="5" cols="50"></textarea>
                  </div>
                </div>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="team_pan">PAN No.</label>
                      <input type="text" class="form-control" name="team_pan">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="team_panphoto">PAN Photo</label>
                      <input type="file" class="form-control" name="team_panphoto">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="team_voterid">Voter ID Card No.</label>
                      <input type="text" class="form-control" name="team_voterid">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="team_voteridphoto">Voter ID Card Photo</label>
                      <input type="file" class="form-control" name="team_voteridphoto">
                    </div>
                  </div>
<h4>Bank Account Details</h4>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="team_account">Account No.</label>
                      <input type="text" class="form-control" name="team_account">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="team_ifsc">IFSC Code</label>
                      <input type="text" class="form-control" name="team_ifsc">
                    </div>
                  <div class="form-group col-md-3">
                      <label for="team_accountname">Account Name</label>
                      <input type="text" class="form-control" name="team_accountname">
                    </div>
                  <div class="form-group col-md-3">
                      <label for="team_cid">C.I.D.</label>
                      <input type="text" class="form-control" name="team_cid">
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="team_doc1">Qualification Ducument 1</label>
                      <input type="file" class="form-control" name="team_doc1">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="team_doc2">Qualification Ducument 2</label>
                      <input type="file" class="form-control" name="team_doc2">
                    </div>
                  <div class="form-group col-md-3">
                      <label for="team_doc3">Qualification Ducument 4</label>
                      <input type="file" class="form-control" name="team_doc3">
                    </div>
                  <div class="form-group col-md-3">
                      <label for="team_doc4">Qualification Ducument 4</label>
                      <input type="file" class="form-control" name="team_doc4">
                    </div>
                  </div>
 
                  <div class="form-row">
                    
                <button type="submit" class="btn btn-primary">Save</button>
 -->                </form>
                </div>
                
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- validator -->
  <script src="/static/vendors/validator/validator.js"></script>
{% endblock javascripts %}
