{% extends "app/base_site.html" %}

{% block content %}

  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Update Details</h3>
        </div>

        
      </div>
      
  <!-- -----------------------------------------Basic Details------------------------------------------------------ -->
      
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Update Basic Info</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
           {% for data in short_data %}
            <script>
            {% if gender_error %}
            alert('Please Select Gender')
            {% endif %}
            </script>
              <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="POST" action="/basicdetail/">{% csrf_token %}
                <input type="hidden" name="serial" value="{{serial}}">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Name <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12" name="name" value="{{data.Team_Name}}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Email <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="email" id="last-name" name="email" required="required" class="form-control col-md-7 col-xs-12" value="{{data.Team_Email}}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Mobile No.</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="middle-name" class="form-control col-md-7 col-xs-12" type="Number" name="number" value="{{data.Team_Mobile}}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div id="gender" class="btn-group" data-toggle="buttons">
                      <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                        <input type="radio" name="gender" value="{{data.Gender}}"> &nbsp; Male &nbsp;
                      </label>
                      <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                        <input type="radio" name="gender" value="{{data.Gender}}"> Female
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Skills
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text" value="{{data.Skill}}" name="skill">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Type <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select name="typevalue" class="form-control col-md-7 col-xs-12">
                      <option value="type1">Type1</option>
                      <option value="type2">Type2</option>
                      <option value="type3">Type3</option>
                    </select>
                  </div>
                </div>
                <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button">Cancel</button>
  		              <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

<!-- --------------------------------------------------Social Links------------------------------------------ -->
    {% for data in social_data %}
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Add Social Links</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form class="form-horizontal form-label-left input_mask" method="POST" action="/sociallinks/">{% csrf_token %}
                <input type="hidden" name="serial" value="{{serial}}">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Instagram</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" name="instagram" value="{{data.Instagram}}">
                    <span class="fa fa-instagram form-control-feedback right" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Twitter</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" name="twitter" value="{{data.Twitter}}">
                    <span class="fa fa-twitter form-control-feedback right" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Whatsapp</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" name="whatsapp" value="{{data.Whatsapp}}">
                    <span class="fa fa-whatsapp form-control-feedback right" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Telegram
                  </label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input class="date-picker form-control col-md-7 col-xs-12" type="text" name="telegram" value="{{data.Telegram}}">
                    <span class="fa fa-telegram form-control-feedback right" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Hike
                  </label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input class="date-picker form-control col-md-7 col-xs-12" type="text" name="hike" value="{{data.Hike}}">
                    <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">LinkedIn
                  </label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input class="date-picker form-control col-md-7 col-xs-12" type="text" name="linkedin" value="{{data.Linkedin}}">
                    <span class="fa fa-linkedin form-control-feedback right" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Skype
                  </label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input class="date-picker form-control col-md-7 col-xs-12" type="text" name="skype" value="{{data.Skype}}">
                    <span class="fa fa-skype form-control-feedback right" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Slack
                  </label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input class="date-picker form-control col-md-7 col-xs-12" type="text" name="slack" value="{{data.Slack}}">
                    <span class="fa fa-slack form-control-feedback right" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Facebook
                  </label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input class="date-picker form-control col-md-7 col-xs-12" type="text" name="facebook" value="{{data.Facebook}}">
                    <span class="fa fa-facebook form-control-feedback right" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button type="button" class="btn btn-primary">Cancel</button>
  		              <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
          {% endfor %}

          <!-- --------------------------------------Login History-------------------------------------------- -->

          <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Login History</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>


            <div class="x_content">

              <form class="form-horizontal form-label-left">

                <div class="form-group">
                  <label class="col-sm-3 control-label">Button addons</label>

                  <div class="col-sm-9">
                    <div class="input-group">
                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary">Go!</button>
                                    </span>
                      <input type="text" class="form-control">
                    </div>
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary">Go!</button>
                                    </span>
                    </div>
                  </div>
                </div>
                <div class="divider-dashed"></div>

                
              </form>
            </div>
          </div>
        </div>
        </div>

      <!-- ------------------------------------------------------Personal Details ----------------------------------------------- -->
      {% for data in personal_data %}
        <div class="col-md-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Add Personal Details</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form class="form-horizontal form-label-left" method="POST" action='/fulldetail/'>
                {% csrf_token %}
                <input type="hidden" name="serial" value="{{serial}}">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Father's Name</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" name="fathername" value="{{data.Father_Name}}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Birth </label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="date" class="form-control date-picker form-control col-md-7 col-xs-12" name="dob" value="{{data.Date_Of_Birth}}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Reference Name 1</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" name="referencename1" value="{{data.Reference_Name1}}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Reference Contact 1
                  </label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" name="referencenumber1" value="{{data.Reference_number1}}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Reference Name 2</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" name="referencename2" value="{{data.Reference_Name2}}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Reference Contact 2</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" name="referencenumber2" class="form-control col-md-10" value="{{data.Reference_number2}}">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Type</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <select class="form-control" name="typevalue">
                      <option value="type1">Type 1</option>
                      <option value="type1">Type 2</option>
                      <option value="type1">Type 3</option>
                    </select>
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Alternate Contact</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" name="alternatecontact" class="form-control col-md-10" value="{{data.Alternate_Contact}}">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Emergency Contact</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input type="text" name="emergencycontact" class="form-control col-md-10" value="{{data.Emergency_Contact}}">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Current Address</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <textarea class="resizable_textarea form-control" name="currentaddress">{{data.Current_Address}}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Permanent Address</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <textarea class="resizable_textarea form-control" name="permanentaddress">{{data.Permanent_Address}}</textarea>
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button type="button" class="btn btn-primary">Cancel</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>
             
              </form>
            </div>
          </div>
        </div>
        {% endfor %}



        <div class="col-md-6 col-sm-12 col-xs-12">
         
      </div>

{% endblock content %}
