{% extends "app/base_site.html" %}

{% block title %} Form Validation {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>{{teamdetail}}</h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>{{teamdetail}}</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>


            <div class="x_content">

              <form class="form-horizontal form-label-left" novalidate>

                <span class="section">Team Info</span>

                <div class="form-row">
                  <div class="form-group col-md-4">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="e.g Jon Doe" required="required" type="text">
                  </div>
                </div>
                
                  <div class="form-group col-md-4">
                  <label class="control-label col-md-5 col-sm-3 col-xs-12" for="fathername">Father's Name <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="fathername" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="fathername" placeholder="e.g Jon Doe" required="required" type="text">
                  </div>
                </div>
                
                
                  <div class="form-group col-md-4">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dob">D.O.B. <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="dob" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="dob" placeholder="DD/MM/YYYY" required="required" type="text" maxlength="10">
                  </div>
                </div>
              </div>
              <br>
              <br>
           <div class="form-row col-md-10">   
            <div class="form-group">
            <div class="col-md-6">
              Reference 1
              <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="referencename1"> Name <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="referencename1" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="referencename1" placeholder="both name(s) e.g Jon Doe" required="required" type="text">
                  </div>
              </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="referencecontact1">Contact No. <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="referencecontact1" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="referencecontact1" placeholder="" required="required" type="text">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
            Reference 2
              <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="referencename2"> Name <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="referencename2" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="referencename2" placeholder="both name(s) e.g Jon Doe" required="required" type="text">
                  </div>
              </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="referencecontact2">Contact No. <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="referencecontact2" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="referencecontact2" placeholder="" required="required" type="text">
                  </div>
                </div>
              </div>
            </div>

                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="emergencycontact">Emergency Contact <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="emergencycontact" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="emergencycontact" placeholder="" required="required" type="text">
                  </div>
                </div>
                <br>
              
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="currentaddress">Current Address <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="currentaddress" name="currentaddress" required="required" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="permanentaddress">Permanent Number <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="permanentaddress" name="permanentaddress" required="required" data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="alternatecontact">Alternate Contact <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="alternatecontact" name="alternatecontact" required="required" placeholder="" class="form-control col-md-7 col-xs-12">
                  </div>
                </div>
                
                <div class="item form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="type">Type <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select name="type" class="optional form-control col-md-7 col-xs-12">
                      <option value="type1">Type1</option>
                      <option value="type2">Type2</option>
                      <option value="type3">Type3</option>
                    </select>
                  </div>
                </div>
                
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-md-offset-3">
                    <button type="cancel" class="btn btn-primary">Cancel</button>
                    <button id="send" type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- validator -->
  <script src="/static/vendors/validator/validator.js"></script>
{% endblock javascripts %}
